@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../font/Gilroy-Regular.woff), url(../font/Gilroy-Regular.woff2);
}
@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(../font/Gilroy-Semibold.woff), url(../font/Gilroy-Semibold.woff2);
}
:root {
  --bg-color-primery: #191919;
  --color-text-primery: rgba(255, 255, 255, 0.8);
  --color-title: #e7e7e7;
  --color-btn: rgba(255, 255, 255, 0.9);
  --bg-btn-hero: #df3d3a;
  --bg-btn-hover-hero: #b5302d;
}

.brandhistory__title, .garanties__title, .features__title, .promo__title, .benefits__title, .design__title {
  margin-bottom: 32px;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: var(--color-title);
}
@media screen and (min-width: 768px) {
  .brandhistory__title, .garanties__title, .features__title, .promo__title, .benefits__title, .design__title {
    font-size: 30px;
  }
}
@media screen and (min-width: 1440px) {
  .brandhistory__title, .garanties__title, .features__title, .promo__title, .benefits__title, .design__title {
    margin-bottom: 50px;
    font-size: 54px;
  }
}

.garanties__subtitle, .features__subtitle, .promo__substyle, .design__subtitle {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.25;
  color: var(--color-title);
}
@media screen and (min-width: 1440px) {
  .garanties__subtitle, .features__subtitle, .promo__substyle, .design__subtitle {
    font-size: 28px;
  }
}

.hero__btn {
  padding: 19px 100px 20px 101px;
  border: none;
  background-color: var(--bg-btn-hero);
  color: var(--color-btn);
  font-weight: 600;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  cursor: pointer;
  background-size: 200% 100%;
  background-image: -webkit-gradient(linear, left top, right top, color-stop(50%, var(--bg-btn-hero)), color-stop(50%, var(--bg-btn-hover-hero)));
  background-image: linear-gradient(to right, var(--bg-btn-hero) 50%, var(--bg-btn-hover-hero) 50%);
  -webkit-transition: background-position 300ms cubic-bezier(0.19, 1, 0.22, 1) 100ms, color 500ms ease 0ms, background-color 500ms ease;
  transition: background-position 300ms cubic-bezier(0.19, 1, 0.22, 1) 100ms, color 500ms ease 0ms, background-color 500ms ease;
}
@media screen and (min-width: 768px) {
  .hero__btn {
    padding: 19px 107px 20px 108px;
  }
}
@media screen and (min-width: 1440px) {
  .hero__btn {
    font-size: 20px;
    padding: 22px 95px;
  }
}
.hero__btn:hover, .hero__btn:focus {
  color: var(--color-btn);
  background-color: var(--bg-btn-hover-hero);
  background-position: -100% 100%;
}

body {
  background-color: var(--bg-color-primery);
  color: var(--color-text-primery);
  font-family: "Gilroy", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.25;
}
@media screen and (min-width: 768px) {
  body {
    font-size: 16px;
    line-height: 1.45;
  }
}
@media screen and (min-width: 1440px) {
  body {
    font-size: 20px;
    line-height: 1.45;
  }
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
}

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.header {
  position: relative;
}

.mobile-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 30px 0;
}
@media screen and (min-width: 768px) and (max-width: 1439.98px) {
  .mobile-header {
    padding: 50px 0;
  }
}
@media screen and (min-width: 1440px) {
  .mobile-header {
    display: none;
  }
}

.mobile-header__btn-open {
  margin: 0;
  padding: 0;
  border: none;
  fill: var(--color-text-primery);
  background-color: transparent;
  cursor: pointer;
}

.desktop-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media screen and (max-width: 1439.98px) {
  .desktop-header {
    display: none;
  }
}

.desktop-header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 77px;
  font-size: 16px;
  line-height: 1.19;
}

.desktop-header__link {
  display: block;
  padding-top: 64px;
  padding-bottom: 70px;
}

.menu {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  padding: 30px 20px 0 20px;
  -webkit-transform: translateY(-120%);
          transform: translateY(-120%);
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  background-color: var(--bg-color-primery);
}
@media screen and (min-width: 768px) and (max-width: 1439.98px) {
  .menu {
    height: auto;
    padding: 50px 60px 100px 60px;
    -webkit-box-shadow: 0px 20px 80px #000000;
            box-shadow: 0px 20px 80px #000000;
  }
}
.menu.is-open {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.menu__logo {
  margin-bottom: 52px;
}

.menu__close-btn {
  position: absolute;
  top: 30px;
  right: 20px;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  fill: var(--color-text-primery);
}
@media screen and (min-width: 768px) and (max-width: 1439.98px) {
  .menu__close-btn {
    top: 50px;
    right: 60px;
  }
}

.menu__list {
  font-size: 14px;
  line-height: 1.25;
}
@media screen and (min-width: 768px) {
  .menu__list {
    font-size: 16px;
    line-height: 1.19;
  }
}

.menu__item:not(:last-child) {
  margin-bottom: 24px;
}

.hero {
  padding-top: 0;
  padding-bottom: 26px;
}
@media screen and (min-width: 768px) {
  .hero {
    padding-top: 0;
    padding-bottom: 50px;
  }
}
@media screen and (min-width: 1440px) {
  .hero {
    padding-top: 0;
    padding-bottom: 85px;
  }
}

@media screen and (min-width: 768px) {
  .hero__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    gap: 60px;
  }
}

.hero__text {
  font-size: 14px;
  line-height: 1.25;
}
@media screen and (min-width: 768px) {
  .hero__text {
    font-size: 16px;
    line-height: 1.45;
  }
}
@media screen and (min-width: 768px) and (min-width: 1440px) {
  .hero__text {
    line-height: 1.25;
  }
}

.hero__text:nth-child(1) {
  margin-bottom: 16px;
}
@media screen and (min-width: 1440px) {
  .hero__text:nth-child(1) {
    margin-bottom: 36px;
  }
}

.hero__text:nth-child(2) {
  margin-bottom: 32px;
}
@media screen and (min-width: 768px) and (max-width: 1439.98px) {
  .hero__text:nth-child(2) {
    margin-bottom: 105px;
  }
}

@media screen and (min-width: 1440px) {
  .hero__title-container {
    padding-left: 104px;
    padding-top: 110px;
    width: 574px;
  }
}
.hero__title {
  margin-bottom: 32px;
  color: var(--color-title);
  font-weight: 600;
  font-size: 34px;
  line-height: 1;
  letter-spacing: 0.02em;
  text-transform: uppercase;
}
@media screen and (min-width: 768px) {
  .hero__title {
    margin-bottom: 40px;
    font-size: 42px;
  }
}
@media screen and (min-width: 1440px) {
  .hero__title {
    margin-bottom: 60px;
    color: var(--color-title);
    font-weight: 600;
    font-size: 74px;
    line-height: 1;
    letter-spacing: 0.02em;
    text-transform: uppercase;
  }
}

@media screen and (max-width: 767.98px) {
  .hero__btn {
    margin-bottom: 32px;
  }
}

@media screen and (min-width: 768px) {
  .hero__image {
    margin-right: -60px;
  }
}
@media screen and (min-width: 1440px) {
  .hero__image {
    margin-right: -80px;
  }
}

.container {
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 320px) {
  .container {
    max-width: 320px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding-left: 60px;
    padding-right: 60px;
  }
}
@media screen and (min-width: 1440px) {
  .container {
    max-width: 1440px;
    padding-left: 80px;
    padding-right: 80px;
  }
}

.logo {
  display: block;
  color: var(--color-title);
}

.logo__icon {
  fill: currentColor;
}
@media screen and (max-width: 1439.98px) {
  .logo__icon--big {
    display: none;
  }
}
@media screen and (min-width: 1440px) {
  .logo__icon--small {
    display: none;
  }
}

.design {
  padding-top: 26px;
  padding-bottom: 26px;
}
@media screen and (min-width: 768px) {
  .design {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}
@media screen and (min-width: 1440px) {
  .design {
    padding-top: 85px;
    padding-bottom: 85px;
  }
}

@media screen and (min-width: 768px) {
  .design__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    gap: 60px;
  }
}
@media screen and (min-width: 1440px) {
  .design__container {
    gap: 150px;
  }
}

@media screen and (min-width: 1440px) {
  .design__list {
    width: 510px;
  }
}
.design__item:nth-child(1) {
  margin-bottom: 24px;
}
@media screen and (min-width: 1440px) {
  .design__item:nth-child(1) {
    margin-bottom: 40px;
  }
}

@media screen and (max-width: 767.98px) {
  .design__item:nth-child(2) {
    margin-bottom: 32px;
  }
}
.design__subtitle {
  margin-bottom: 16px;
}
@media screen and (min-width: 1440px) {
  .design__subtitle {
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 768px) {
  .design__image {
    margin-left: -60px;
  }
}
@media screen and (min-width: 1440px) {
  .design__image {
    margin-left: -80px;
  }
}

.benefits {
  padding-top: 26px;
  padding-bottom: 26px;
}
@media screen and (min-width: 768px) {
  .benefits {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}
@media screen and (min-width: 1440px) {
  .benefits {
    padding-top: 85px;
    padding-bottom: 85px;
  }
}

@media screen and (min-width: 1440px) {
  .benefits__title {
    margin-left: 110px;
  }
}

@media screen and (min-width: 768px) {
  .benefits__transposition {
    display: none;
  }
}
@media screen and (min-width: 1440px) {
  .benefits-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 184px;
    margin-left: 110px;
  }
}
@media screen and (max-width: 1439.98px) {
  .benefits__list:not(:last-child) {
    margin-bottom: 16px;
  }
}
.benefits__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 24px;
}

.benefits__item:not(:last-child) {
  margin-bottom: 16px;
}
@media screen and (min-width: 1440px) {
  .benefits__item:not(:last-child) {
    margin-bottom: 20px;
  }
}

.promo {
  padding-top: 26px;
  padding-bottom: 26px;
}
@media screen and (min-width: 768px) {
  .promo {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}
@media screen and (min-width: 1440px) {
  .promo {
    padding-top: 85px;
    padding-bottom: 85px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1439.98px) {
  .promo__title {
    text-align: end;
  }
}
@media screen and (min-width: 1440px) {
  .promo__title {
    margin-left: 660px;
  }
}

.promo__image {
  margin-bottom: 32px;
}
@media screen and (min-width: 768px) {
  .promo__image {
    min-width: 768px;
    margin-left: -60px;
    margin-right: -60px;
  }
}
@media screen and (min-width: 1440px) {
  .promo__image {
    min-width: 1440px;
    margin-left: -80px;
    margin-right: -80px;
    margin-bottom: 50px;
  }
}

@media screen and (min-width: 768px) {
  .promo__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 60px;
  }
}
@media screen and (min-width: 1440px) {
  .promo__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.promo__substyle {
  margin-bottom: 16px;
}
@media screen and (min-width: 1440px) {
  .promo__substyle {
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 1440px) {
  .promo__item {
    width: 500px;
  }
}

@media screen and (max-width: 767.98px) {
  .promo__item:not(:last-child) {
    margin-bottom: 24px;
  }
}
.features {
  padding-top: 26px;
  padding-bottom: 26px;
}
@media screen and (min-width: 768px) {
  .features {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}
@media screen and (min-width: 1440px) {
  .features {
    padding-top: 85px;
    padding-bottom: 85px;
  }
}

@media screen and (min-width: 768px) {
  .features__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    gap: 60px;
  }
}
@media screen and (min-width: 1440px) {
  .features__container {
    gap: 170px;
    margin-left: 110px;
  }
}

@media screen and (min-width: 1440px) {
  .features__content {
    width: 380px;
  }
}
.features__subtitle {
  margin-bottom: 16px;
}
@media screen and (min-width: 1440px) {
  .features__subtitle {
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 767.98px) {
  .features__text {
    margin-bottom: 32px;
  }
}
@media screen and (min-width: 768px) {
  .features__image {
    margin-right: -60px;
  }
}
@media screen and (min-width: 1440px) {
  .features__image {
    margin-right: -80px;
  }
}

.garanties {
  padding-top: 26px;
  padding-bottom: 26px;
}
@media screen and (min-width: 768px) {
  .garanties {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}
@media screen and (min-width: 1440px) {
  .garanties {
    padding-top: 85px;
    padding-bottom: 85px;
  }
}

.garanties__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (min-width: 320px) {
  .garanties__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    gap: 32px;
  }
}
@media screen and (min-width: 768px) {
  .garanties__container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 60px;
  }
}
@media screen and (min-width: 1440px) {
  .garanties__container {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    gap: 150px;
  }
}

@media screen and (min-width: 768px) {
  .garanties__image {
    margin-left: -60px;
  }
}
@media screen and (min-width: 1440px) {
  .garanties__image {
    margin-left: -80px;
  }
}

@media screen and (min-width: 1440px) {
  .garanties__content {
    width: 380px;
  }
}
@media screen and (max-width: 767.98px) {
  .garanties__item:not(:last-child) {
    margin-bottom: 24px;
  }
}
@media screen and (min-width: 768px) {
  .garanties__item:not(:last-child) {
    margin-bottom: 32px;
  }
}
@media screen and (min-width: 1440px) {
  .garanties__item:not(:last-child) {
    margin-bottom: 40px;
  }
}

.garanties__icon {
  margin-bottom: 24px;
}

.garanties__subtitle {
  margin-bottom: 16px;
}

.brandhistory {
  padding-top: 26px;
  padding-bottom: 26px;
}
@media screen and (min-width: 768px) {
  .brandhistory {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

@media screen and (min-width: 768px) {
  .brandhistory__content {
    position: relative;
  }
}

.brandhistory__content:not(:last-child) {
  margin-bottom: 16px;
}
@media screen and (min-width: 768px) {
  .brandhistory__content:not(:last-child) {
    margin-bottom: 32px;
  }
}

@media screen and (min-width: 768px) {
  .brandhistory__text {
    width: 294px;
  }
}

.brandhistory__text:nth-child(2) {
  margin-bottom: 32px;
}
.brandhistory__text:nth-child(1) {
  margin-bottom: 32px;
}
@media screen and (min-width: 768px) {
  .brandhistory__text:nth-child(1) {
    margin-left: 354px;
  }
}

.brandhistory__image {
  margin-bottom: 32px;
}
@media screen and (min-width: 768px) {
  .brandhistory__image {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 768px) {
  .brandhistory__image-top {
    position: absolute;
    top: 0;
    right: -60px;
  }
}

.brandhistory__icon {
  margin-bottom: 24px;
}
@media screen and (min-width: 768px) {
  .brandhistory__icon {
    margin-left: 354px;
  }
}
@media screen and (min-width: 1440px) {
  .brandhistory__icon {
    margin-bottom: 50px;
  }
}

.brandhistory__quote {
  margin-bottom: 16px;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.25;
  color: var(--color-title);
}
@media screen and (min-width: 768px) {
  .brandhistory__quote {
    margin-left: 354px;
  }
}

.brandhistory__sign {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.4);
}
@media screen and (min-width: 768px) {
  .brandhistory__sign {
    margin-left: 354px;
  }
}

/* benefits */
/* promo */
/* features */
/* garanties */
/* brandhistory */
/* .brandhistory{

} *//*# sourceMappingURL=main.css.map */