@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../font/Gilroy-Regular.woff), url(../font/Gilroy-Regular.woff2);
}

@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(../font/Gilroy-Semibold.woff), url(../font/Gilroy-Semibold.woff2);
}

:root {
  --bg-color-primery: #191919;
  --color-text-primery: rgba(255, 255, 255, 0.8);
  --color-title: #e7e7e7;
  --color-btn: rgba(255, 255, 255, 0.9);
  --bg-btn-hero: #df3d3a;
  --bg-btn-hover-hero: #b5302d;
}

body {
  background-color: var(--bg-color-primery);
  color: var(--color-text-primery);

  font-family: "Gilroy", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.45;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
}

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  max-width: 1320px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

.section {
  padding: 85px 0;
}

.title {
  margin-bottom: 50px;
  font-weight: 600;
  font-size: 54px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: var(--color-title);
}

.subtitle {
  font-weight: 600;
  font-size: 28px;
  line-height: 1.25;
  color: var(--color-title);
}
/* header */

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-logo {
  display: block;
  color: var(--color-title);
}

.icon-logo {
  fill: currentColor;
}

.nav-list {
  display: flex;
  gap: 77px;

  font-size: 16px;
  line-height: 1.19;
}

.nav-link {
  display: block;
  padding-top: 64px;
  padding-bottom: 70px;
}
/* hero */

.hero {
  padding-top: 0;
}

.hero-container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 86px;
}

.hero-text {
  font-size: 16px;
  line-height: 1.25;
}
.hero-text:not(:last-child) {
  margin-bottom: 36px;
}

.hero-title-container {
  padding-left: 104px;
  padding-top: 110px;
  width: 574px;
}

.hero-title {
  margin-bottom: 60px;
  color: var(--color-title);
  font-weight: 600;
  font-size: 74px;
  line-height: 1;

  letter-spacing: 0.02em;
  text-transform: uppercase;
}

.hero-btn {
  max-width: 300px;
  padding: 22px 95px;
  border: none;
  background-color: var(--bg-btn-hero);
  color: var(--color-btn);
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  cursor: pointer;

  background-size: 200% 100%;
  background-image: linear-gradient(
    to right,
    var(--bg-btn-hero) 50%,
    var(--bg-btn-hover-hero) 50%
  );
  transition: background-position 300ms cubic-bezier(0.19, 1, 0.22, 1) 100ms,
    color 500ms ease 0ms, background-color 500ms ease;
}

.hero-btn:hover,
.hero-btn:focus {
  color: var(--color-btn);
  background-color: var(--bg-btn-hover-hero);
  background-position: -100% 100%;
}

.hero-image {
  margin-right: -80px;
}

/* design */

.design-container {
  display: flex;
  align-items: flex-start;
  gap: 150px;
}

.design-emage {
  margin-left: -80px;
}

.design-list {
  width: 510px;
}

.design-item:not(:last-child) {
  margin-bottom: 50px;
}
.design-subtitle {
  margin-bottom: 20px;
}
