@import './utils/module';
@import './base/module';
@import './layouts/module';
@import './components/module';

/* benefits */

/* promo */

/* features */

.features-container {
  display: flex;
  align-items: flex-start;
  gap: 170px;
  margin-left: 110px;
}

.features-subtitle {
  margin-bottom: 20px;
}

.features-image {
  margin-right: -80px;
}

/* garanties */

.garanties__container {
  display: flex;
  align-items: center;
  gap: 150px;
}

.garanties__image {
  margin-left: -80px;
}

.garanties__content {
  width: 380px;
}

.garanties__item {
  margin-bottom: 40px;
}

.garanties__icon {
  margin-bottom: 24px;
}

.garanties__subtitle {
  margin-bottom: 16px;
}

/* brandhistory */

/* .brandhistory{

} */

.brandhistory__container {
  display: flex;
  justify-content: space-between;
  gap: 150px;
  margin-left: 110px;
}

.brandhistory__contant-left {
  min-width: 400px;
}

.brandhistory__contant-right {
  min-width: 700px;
}

.brandhistory__image-large {
  margin-right: -80px;
  margin-bottom: 51px;
}

.brandhistory__icon {
  margin-bottom: 50px;
}

.brandhistory__text-large {
  width: 382px;
  margin-bottom: 32px;
  font-weight: 600;
  font-size: 28px;
  line-height: 1.25;
  color: var(--color-title);
}

.brandhistory__text-small {
  font-weight: 400;
  font-size: 16px;
  line-height: 0.7;
  color: rgba(255, 255, 255, 0.4);
}
