%title {
    margin-bottom: 50px;
    font-weight: 600;
    font-size: 54px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: var(--color-title);
}

%subtitle {
    font-weight: 600;
    font-size: 28px;
    line-height: 1.25;
    color: var(--color-title);
}

%btn {
    // max-width: 280px;
    padding: 20px 100px;
    border: none;
    background-color: var(--bg-btn-hero);
    color: var(--color-btn);
    font-weight: 600;
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    cursor: pointer;

    background-size: 200% 100%;
    background-image: linear-gradient(to right,
            var(--bg-btn-hero) 50%,
            var(--bg-btn-hover-hero) 50%);
    transition: background-position 300ms cubic-bezier(0.19, 1, 0.22, 1) 100ms,
        color 500ms ease 0ms, background-color 500ms ease;

    &:hover,
    &:focus {
        color: var(--color-btn);
        background-color: var(--bg-btn-hover-hero);
        background-position: -100% 100%;
        @include mq(desk) {
            font-size: 20px;
            padding: 22px 95px;
        }
    }
}