.brandhistory {
  @include section;
  @include mq(tab) {
    @include section(50px, 50px);
  }
}

// .brandhistory__container {
//   display: flex;
//   justify-content: space-between;
//   gap: 150px;
//   margin-left: 110px;
// }
.brandhistory__content {
  @include mq(tab) {
    position: relative;
  }
}
.brandhistory__content:not(:last-child) {
  margin-bottom: 16px;
  @include mq(tab) {
    margin-bottom: 32px;
  }
}
// .brandhistory__contant-left {
//   min-width: 400px;
// }
.brandhistory__title {
  @extend %title;
}
.brandhistory__text {
  @include mq(tab) {
    width: 294px;
  }
}
.brandhistory__text:nth-child(2) {
  margin-bottom: 32px;
  @include mq(tab) {
  }
}
.brandhistory__text:nth-child(1) {
  margin-bottom: 32px;
  @include mq(tab) {
    margin-left: 354px;
  }
}

.brandhistory__image {
  margin-bottom: 32px;
  @include mq(tab) {
    margin-bottom: 0;
  }
}
.brandhistory__image-top {
  @include mq(tab) {
    position: absolute;
    top: 0;
    right: -60px;
  }
}

// .brandhistory__image-large {
//   margin-right: -80px;
//   margin-bottom: 51px;
// }

.brandhistory__icon {
  margin-bottom: 24px;
  @include mq(tab) {
    margin-left: 354px;
  }
  @include mq(desk) {
    margin-bottom: 50px;
  }
}

.brandhistory__quote {
  margin-bottom: 16px;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.25;
  color: var(--color-title);
  @include mq(tab) {
    margin-left: 354px;
  }
  // width: 382px;
}

.brandhistory__sign {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.4);
  @include mq(tab) {
    margin-left: 354px;
  }
}
