.container {
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
  @include mq(mob) {
    max-width: 320px;
  }

  @include mq(tab) {
    max-width: 768px;
  }

  @include mq(desk) {
    max-width: 1360px;
  }
}
