.design {
    @include section;
}

// .design-container {
//     display: flex;
//     align-items: flex-start;
//     gap: 150px;
// }

.design__title {
    @extend %title;
}

// .design-list {
//     width: 510px;
// }

.design__item:nth-child(1) {
    margin-bottom: 24px;
    @include mq(desk) {
        margin-bottom: 54px;
    }
}

.design__item:nth-child(2) {
    margin-bottom: 32px;
}

.design__subtitle { 
    @extend %subtitle;
    margin-bottom: 16px;
}

// .design-image {
//     margin-left: -80px;
// }