.review {
  @include section;
  @include mq(tab) {
    @include section(50px, 50px);
  }
}
.review__title {
  @extend %title;
}
.review__video {
  margin-bottom: 32px;
  width: 280px;
  height: 155px;
  @include mq(tab) {
    width: 640px;
    height: 360px;
  }
}

.review__link {
  display: inline-block;
  margin-bottom: 16px;
  font-weight: 600;
  font-size: 20px;
  line-height: 125%;
  color: var(--bg-btn-hero);
}

.review__text {
  margin-bottom: 32px;
}

.slick-dots {
  display: flex;
  justify-content: center;
  gap: 39px;
  @include mq(tab) {
    gap: 80px;
  }
}
.slick-dots li {
  margin-right: 0;
  margin-left: 0;
  width: 20px;
  height: 25px;
}
.slick-dots li button {
  width: 20px;
  height: 25px;
  padding: 0;
  border: none;
  outline: none;
}
.slick-dots li button[aria-label='1 of 3']:before {
  content: '';
  opacity: 0.2;
  width: 20px;
  height: 25px;
  color: transparent;
  background-image: url(../images/icons/btn01.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.slick-dots li button[aria-label='2 of 3']:before {
  content: '';
  opacity: 0.2;
  width: 20px;
  height: 25px;
  color: transparent;
  background-image: url(../images/icons/btn02.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.slick-dots li button[aria-label='3 of 3']:before {
  content: '';
  opacity: 0.2;
  width: 20px;
  height: 25px;
  color: transparent;
  background-image: url(../images/icons/btn03.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.slick-dots li.slick-active button:before {
  opacity: 1;
}
