.review {
  @include section;
}
.review__title {
  @extend %title;
}
.review__video {
  margin-bottom: 32px;
  width: 280px;
  height: 155px;
}

.review__link {
  display: inline-block;
  margin-bottom: 16px;
  font-weight: 600;
  font-size: 20px;
  line-height: 125%;
  color: #df3d3a;
}

.review__text {
  width: 258px;
  margin-bottom: 32px;
}

.slick-dots {
  display: flex;
  justify-content: center;
}
.slick-dots li {
  margin-right: 0;
  margin-left: 0;
  width: 20px;
  height: 25px;
}
.slick-dots li button {
  width: 20px;
  height: 25px;
  padding: 0;
  border: none;
  outline: none;
}
#slick-slide-control00:before {
  content: '';
  opacity: 1;
  width: 12px;
  height: 12px;

  background-image: url(../images/icons/btn01.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
